   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }

    body {
      background: linear-gradient(to right, #e2b39d, #cdb7ad); /* Main page background */
      color: #333;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .form-wrapper {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
    }

    .form-container {
      background-color: #222; /* Solid color background for form */
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      width: 90%;
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: white;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      font-size: 14px;
      color: #ccc;
      margin-bottom: 5px;
      display: block;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #444;
      border-radius: 8px;
      background-color: #444;
      color: white;
      font-size: 14px;
    }

    input:focus,
    textarea:focus {
      border-color: #555;
      background-color: #555;
      outline: none;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #44506f;
      color: white;
      font-size: 14px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #555;
    }